# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env
.env.*   # in case of .env.local, .env.production etc.
dist/
build/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
pip-log.txt
*.sqlite3
.env/
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# IDEs
.idea/
*.iml

# Mac/Windows swap files
*.swp
*.swo
*.bak
*.tmp

# Logs
logs/
*.log

# Coverage reports
coverage/
*.cover
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.orig
*.rej
.env